.centered{
    text-align: center;
}
h1{
    color: blue;
}

h2{
    color: red;
}

.cool{
    background-color: red;
    font-weight: bold;
    opacity: .6;
}

.course{
    color: blue;
}

p{
    background-color: green;
    color: blue;
}

